name: Binary preview

on:
  push:
    branches:
      - 'feature/**'
      - 'fix/**'
      - 'release/**'
      - 'hotfix/**'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: macos-13
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Switch to the corresponding preview branch, or create it if needed
        run: git switch "preview/${GITHUB_REF_NAME}" || git switch -c "preview/${GITHUB_REF_NAME}"

      - name: Create a temporary branch from the ref for the build.
        run: git checkout -b "tmp/${GITHUB_REF_NAME}" "${GITHUB_REF_NAME}"

      # https://github.com/actions/runner-images/blob/main/images/macos/macos-13-Readme.md#xcode
      - name: Select the required Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_14.3.1.app/Contents/Developer'

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            rust/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install the required Rust targets
        run: make install

      - name: Configure sccache
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Build the binaries on the temporary branch
        run: make xcframework
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
        with:
          message: 'preview build for ${{ github.ref_name }} commit ${{ github.sha }}'
          push: false

      - name: Merge the preview branch into the temporary branch, ignoring conflicts with `-s ours`.
        run: git merge -s ours -m "merge artifacts built from ${GITHUB_SHA} to preview/${GITHUB_REF_NAME}" "preview/${GITHUB_REF_NAME}"

      - name: Switch back to the preview branch.
        run: git switch "preview/${GITHUB_REF_NAME}"

      - name: Merge & delete the temporary branch.
        run: git merge --ff-only "tmp/${GITHUB_REF_NAME}" && git branch -d "tmp/${GITHUB_REF_NAME}"

      - name: Push the preview branch back to the upstream repository
        run: git push origin "preview/${GITHUB_REF_NAME}"
