name: Lints

on:
  pull_request:
  push:
    branches:
      - main
      - 'release/**'

permissions: {}

jobs:
  clippy:
    name: Clippy (MSRV)
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Run clippy
        uses: auguwu/clippy-action@94a9ff2f6920180b89e5c03d121d0af04a9d3e03 # 1.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: ./rust
          args: >
            -D warnings

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Check formatting
        working-directory: ./rust
        run: cargo fmt --all -- --check

  required-lints:
    name: Required lints have passed
    needs:
      - clippy
      - fmt
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Determine whether all required-pass steps succeeded
        run: |
          echo "${NEEDS}" | jq -e '[ .[] | .result == "success" ] | all'
        env:
          NEEDS: ${{ toJSON(needs) }}
